body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#root {
  color: red;
  width: 500px;
  height: 500px;
  outline: 1px dotted black;
  display: flex;
  align-items: center;
  justify-content: center;
}
